<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  	<groups>
  	     <run>
  	         <!-- <include name="smoke"/> -->
  	         <!-- <include name="regression"/> -->
  	         <!-- <exclude name="regression"/> -->
  	         <!-- <include name="functional"/>-->
  	         <exclude name="functional"/>
    	 </run>
  	</groups>
  	
    <classes>
      <class name="testNGGroupingTests.LoginTests"/>
      <class name="testNGGroupingTests.SignUpTests"/>
      <class name="testNGGroupingTests.PaymentMethods"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

